.textDevice{
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	margin-top: 2%;
	font-family: monospace;
}

.recommended{
	text-align: center;
	font-family: monospace;
	font-size: 26px;
	position: relative;
	margin-top:3%;
	bottom: 1%;
	border-style: outset;
	border-color: black;
	background-color:lightgoldenrodyellow;
	padding: 1% 1%;

}

.panel {
	margin-top: 4%;
	margin-right: 3%;
	margin-left: 3%;
	background-color: white;
}

.img-noborder{
	border-style: none;
}

.prizefont{
	text-align: center;
	height: 40px;

	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background-color: red;
	font-family: monospace;
	border: black 3px solid;
}


.textBuy{
	color: red;
	font-size: 34px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.Details{
	font-size: 16px;
	margin-top: 75px;
	margin-bottom: 75px;

	background-color: lightgray;
	border: 2px solid black;
	padding: 25px;
}

.Characteristics{
	font-size: 16px;
	margin-top: 20%;
	margin-bottom: 20%;
}

