/* Breadcrumbs */
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 100%;
	z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -17px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
	margin-top: 160px;
	margin-bottom: 10px;
	padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
	margin-left: 50px;
	padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
	padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
	border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
	border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
	border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
	border-left: 10px solid #adadad;
}
/* ----------- END BREADCRUMB --------- */ 


/* Body */
body{
	background-color: lightgrey;
}

.row{
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.row2{
	margin: 10px, 0;
	margin-left: 50px;
	margin-right: 50px;

}

.promotion > img{
	border-color: lightgray;
}
img{
	border-style: solid;
	border-width: 3px;
	border-color: black;
}