figcaption.textFigure{
	text-align: center; 
	color:black;
	background-color: white;
	padding: 10px 20px;
	border-style: solid;
	font-family: monospace;
	margin-bottom: 20px;
	margin-top: 10px;
}

.imagenWithButton > h2 {
	text-align: center;
	position: absolute; 
	top: 320px; 
	left: 55%; 
	color:black;
	padding: 10px 20px;
	border-style: solid;
	font-family: monospace;
	opacity: 0.8;
}

ul.pagination{
	position: absolute;
	border-style: solid;
	margin-left: 35%;
	margin-bottom: 30px;
	z-index: 2;
}


h3.personText {
	color:black;
	background-color: wheat;
	padding: 10px 20px;
	border-style: solid;
	font-family: monospace;
}

.blueButton{
	background-color: dodgerblue;
}

.yellowButton{
	background-color: yellow;
}

.greenButton{
	background-color: forestgreen;
}

.imagenWithButton > p, h1 {
	
	text-align: center;
	position: absolute; 
}

.imagenWithButton > p {
	top: 150px; 
	left: 30%; 
	font-size: 180%;
}

.imagenWithButton > h1 {
	top: 20px; 
	left: 30%; 
}

.blueText{
	color: blue;
}
.yellowText	{
	color:darkgoldenrod;
}
.greenText{
	color: forestgreen;
}

div.textLeft {
	background-color:blue;
	color: white;
	padding: 20px;
	font-size: 160%;	
}


.textFurtherDetails{
	text-align: center; 
	color:black;
	background-color:cadetblue;
	padding: 10px 20px;
	border-style: solid;
	font-family: monospace;
	margin-bottom: 20px;
	margin-top: 10px;
}