ul.pagination{
	position: absolute;
	border-style: solid;
	margin-left: 26%;
	margin-bottom: 30px;
	z-index: 2;
}


div.itemfont{
	font-family: monospace;
	position: relative;
	color:black;
	font-size: 30px;
}

div.fontprize{
	font-family: monospace;
	position: relative;
	color:red;
	font-size: 30px;
	margin-left: 30%;
	text-decoration: line-through;
}
div.fontprizereal{
	font-family: monospace;
	position: relative;
	margin-left: 30%;
	color:red;
	font-size: 30px;
	text-decoration: underline;
}
.img-noborder{
	border-style: none;
}

.panel{
	border-style: solid;
	margin-top: 2.8%;
}
.panel-heading{
	font-size: 30px;
	text-align: center ;
	font-family: monospace;

}

.textDevice{
	text-align: center;
	width: 70%;
	height: 5%;
	font-weight: 700;
	font-size: 38px;
	color: darkred;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: monospace;
}

.questionsBox {
	font-size: 18px;
	margin-top:3%;
	margin-bottom:3%;
	border: 3px solid gray;
}

.recommended{
	text-align: center;
	font-family: monospace;
	font-size: 26px;
	position: relative;
	margin-top:3%;
	bottom: 1%;
	border-style: outset;
	border-color: black;
	background-color:lightgoldenrodyellow;
	padding: 1% 1%;

}
