figcaption.textFigure{
	text-align: center; 
	color:black;
	background-color: white;
	padding: 10px 20px;
	border-style: solid;
	font-family: monospace;
	margin-bottom: 20px;
	margin-top: 10px;
}

.panel {
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
    background-color: white;
}

.panel-default{
	margin-top: 4%;
}
.imagenDetails{
		position:absolute;
	margin-top: -150px; 
	right: 13%;
}

.img-noborder{
	border-style: none;
	margin-left: 50px;
}

.img-dev{
	border-style: none;
}

.panel-body{
	border-style: solid;
	margin-top: -1px;
	
}

div.itemfont{
	font-family: monospace;
	position: absolute;
	margin-top: -220px;
	left: 60%;
	margin-left: auto;
	color:black;
	font-size: 30px;
}

div.fontprize{
	font-family: monospace;
	position: absolute;
	margin-top: -100px;
	left: 60%;
	margin-left: auto;
	color:red;
	font-size: 30px;
}
.imagenWithButton > h3 {
	text-align: center;
	position: static; 
	left: 30%; 
	color:black;
	background-color: white;
	border-style: solid;
	font-family: monospace;
	opacity: 0.8;
	margin-top: 10px;
}

ul.pagination{
	position: absolute;
	border-style: solid;
	margin-left: 28%;
	margin-bottom: 30px;
	z-index: 2;
}


.blueButton{
	background-color: dodgerblue;
}

.yellowButton{
	background-color: yellow;
}

.greenButton{
	background-color: forestgreen;
}

.imagenWithButton > p, h1 {
	width: 450px;
	text-align: center;
	position: absolute; 
}

.imagenWithButton > p {
	top: 150px; 
	left: 30%; 
	font-size: 180%;
}

.imagenWithButton > h1 {
	top: 20px; 
	left: 30%; 
}

.blueText{
	color: blue;
}
.yellowText	{
	color:darkgoldenrod;
}
.greenText{
	color: forestgreen;
}

div.textLeft {
	background-color:blue;
	color: white;
	width: 300px;
	height: 330px;
	padding: 20px;
	font-size: 160%;	
	margin-bottom: 20px;
}

