/* CSS pages */

/* The menu is in the left side */

.navbar-default {
    background-color: darkblue;
    border-color: #e7e7e7;
}

.topright {
  position: absolute;
  top: 15px;
  right: 16px;
  color:black;
  background-color: white;
  padding: 5px 10px;
  border-style: solid;
  font-family: monospace;
  font-size: 15px;

}

.bottomright {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color:black;
  background-color: white;
  padding: 5px 10px;
  border-style: solid;
  font-family: monospace;
  font-size: 15px;

}
.nav.nav-tabs li a {
  color:white  
}

li {
  margin: 0px 50px;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.active {
  background-color: grey;
  color: black;
}

.container {
    background-color: white;
    color:black
}

figcaption{
  margin-top: 1px;
  display: block;
  color:black;
  background-color: white;
  padding: 3px 10px;
  border-style: solid;
  font-family: monospace;
  font-size: 15px;
}
