/* CSS pages */

/* The menu is in the left side */

ul {
  bottom: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: midnightblue;
}

li {
	border-right: 1px solid #bbb;
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 50px;
	text-decoration: none;
}

.active {
    background-color: white;
    color: black;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}